/*ZERO STYLES*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*GLOBAL*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0F0F0F;
    color: white;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

/*HEADER*/
.header {
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: transparent;
    transition: transform .1s linear;
}

.header.header_hide {
    transform: translateY(-80px);
}

.header.like_a_glass::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.50);
    backdrop-filter: blur(4.5px);
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__brand {
    color: #ECBC61;
    font-size: 42px;
    font-weight: 800;
    opacity: 1;
    transition: all 0.3s;
}

.header__list {
    display: flex;
}

.header__list li {
    margin: 0 0 0 20px;
}

.header__link {
    font-size: 15px;
    font-weight: 800;
}

.header__link.header__link_active {
    color: #ECBC61;
}

.header__link:hover {
    color: #ECBC61;
    transition: all 0.3s;
}

.menu-burger {
    display: none;
}

.arrow-back {
    opacity: 0;
    transition: all 0.2s;
}

/*SECTION WELCOME*/
.welcome__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/designer_photo.png');
}

.welcome__title {
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    margin-top: 140px;
}

.welcome__subtitle {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin-top: 17px;
}

.welcome__subtitle.welcome__subtitle_colored {
    color: #ECBC61;
}

.welcome__btns {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.welcome__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 138px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid #FFF;
    transition: all 0.3s;
}

.welcome__btn.welcome__btn_colored {
    background-color: #ECBC61;
}

.welcome__btn:hover {
    background-color: #ECBC61;
    transition: all 0.3s;
}

.welcome__btn + .welcome__btn {
    margin-left: 22px;
}

/*SECTION ABOUT*/
.about {
    background: #161616;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-title.about__title_outer {
    display: none;
}

/*about block paddings, skills*/
.about__block.about__block_paddings {
    padding: 89px 45px 0 0;
}

.about__skills {
    margin-top: 94px;
}

.main-title {
    color: #7B7B7B;
    font-size: 76px;
    font-weight: 900;
}

.about__skills-item span {
    color: #FFF;
    font-size: 16px;
    font-weight: 900;
}

.hollow-line {
    width: 372px;
    height: 9px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-top: 11px;
    margin-bottom: 29px;
}

.colored-line {
    height: 9px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ECBC61;
}

.colored-line.colored-line_80 {
    width: 80%;
}

.colored-line.colored-line_60 {
    width: 70%;
}

.colored-line.colored-line_50 {
    width: 60%;
}

.about__block.about__block_img_mini {
    display: none;
}

/*about block info*/
.about__block.about__block_info {
    padding: 101px 0 0 22px;
}

.about__block.about__block_info span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 5.84px;
}

.about__block.about__block_info h3 {
    text-align: center;
    color: #FFF;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 3.64px;
    padding: 8px 6px;
    background-color: #ECBC61;
    margin-top: 26px;
}

.about__block.about__block_info p {
    margin-top: 26px;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1.04px;
}

.about__social {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.about__block.about__block_info .about__social span {
    color: #ECBC61;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.04px;
    margin-right: 10px;
}

.about__social-line {
    width: 65px;
    height: 2px;
    background-color: #ECBC61;
    margin-right: 10px;
}

.about__social-block {
    display: flex;
    align-items: center;
}

.about__social-link {
    margin-right: 10px;
}

/*SECTION SERVICES*/
.services {
    padding-bottom: 96px;
    background: #0F0F0F;
}

.main-title.services__title {
    text-align: center;
    margin-top: 110px;
}

.services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 45px;
    grid-auto-rows: minmax(342px, auto);
    margin-top: 110px;
}

.services__item {
    border-radius: 13px;
    background: #0A0A0C;
    padding: 25px 16px 45px 16px;
}

.services__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.services__img {
    width: 82px;
    height: 82px;
    margin-bottom: 15px;
}

.services__service-title {
    color: #ECBC61;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 21px;
}

.services__info {
    color: #7B7B7B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.8px;
}

/*MEDIA*/
@media (max-width: 1024px) {
    /*SECTION ABOUT MEDIA(1024px)*/
    .about__wrapper {
        grid-template-columns: 1fr 1fr;
        margin-top: 27px;
    }

    /*about block paddings, skills*/
    .main-title.about__title_outer {
        display: block;
        margin-top: 32px;
        text-align: center;
    }

    .main-title.about__title_inner {
        display: none;
    }

    .about__block.about__block_paddings {
        padding: 0;
    }

    .about__skills {
        margin-top: 0;
    }

    .hollow-line {
        width: 100%;
    }

    .about__block.about__block_img_mini {
        display: block;
    }

    .about__block.about__block_img_mini img {
        width: 100%;
    }

    .about__block.about__block_img {
        display: none;
    }

    /*about block info*/
    .about__block.about__block_info {
        padding: 0 0 0 22px;
    }

    /*SECTION SERVICES MEDIA(1024px)*/
    .services__list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 45px;
    }
}

@media (max-width: 767px) {
    body.active {
        overflow: hidden;
    }

    /*HEADER MEDIA(767px)*/
    .header.header_hide {
        transform: translateY(-50px);
    }

    .header__body {
        height: 50px;
    }

    /*menu-burger*/
    .menu-burger {
        display: block;
        position: relative;
        width: 47px;
        height: 21px;
    }

    .menu-burger span {
        position: absolute;
        background-color: #ECBC61;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        border-radius: 5px;
    }

    .menu-burger::before,
    .menu-burger::after {
        content: '';
        background-color: #ECBC61;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border-radius: 5px;
    }

    .menu-burger::before {
        top: 1px;
    }

    .menu-burger::after {
        bottom: 2px;
    }

    .menu-burger.active {
        display: none;
    }

    /*arrow-back*/
    .arrow-back {
        opacity: 0;
        position: fixed;
        width: 47px;
        height: 21px;
        left: 10px;
        top: 25px;
        z-index: 3;
    }

    .arrow-back.active {
        opacity: 1;
        transition: all 2s;
    }

    .arrow-back span {
        position: absolute;
        background-color: #ECBC61;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        border-radius: 5px;
    }

    .arrow-back::before,
    .arrow-back::after {
        content: '';
        background-color: #ECBC61;
        position: absolute;
        width: 50%;
        height: 2px;
        left: 0;
        border-radius: 5px;
    }

    .arrow-back::before {
        top: 1px;
        left: -3px;
        transform: rotate(-45deg);
    }

    .arrow-back::after {
        bottom: 2px;
        left: -3px;
        transform: rotate(45deg);
    }

    /*header brand*/
    .header__brand.active {
        opacity: 0;
        transition: all 0.3s;
    }

    /*header menu*/
    .header__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: rgba(8, 8, 8, 0.50);
        backdrop-filter: blur(4.5px);
        padding: 0 10px 20px 10px;
        transition: all 0.4s;
    }

    .header__menu.active {
        right: 0;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .header__list li {
        margin: 20px 0 0 0;
    }

    .header__link {
        font-size: 25px;
    }

    /*SECTION WELCOME MEDIA(767px)*/
    .welcome__wrapper {
        min-height: 450px;
    }

    .welcome__title {
        font-size: 34px;
        margin-top: 140px;
    }

    .welcome__subtitle {
        font-size: 30px;
    }

    /*SECTION ABOUT MEDIA(767px)*/
    .about__wrapper {
        grid-template-columns: 1fr;
    }

    .main-title {
        font-size: 56px;
    }

    .about__block.about__block_info {
        grid-row-start: 1;
    }

    .about__block.about__block_img_mini {
        display: none;
    }

    .about__skills {
        margin-top: 38px;
    }

    .about__block.about__block_info {
        padding: 0;
    }

    /*SECTION SERVICES MEDIA(767px)*/
    .services__list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    /*SECTION ABOUT MEDIA(576px)*/
    .main-title {
        font-size: 50px;
    }

    /*SECTION SERVICES MEDIA(576px)*/

}
